<!-- navbar -->
<nav class="nav-extended purple darken-2">
  <div class="container nav-wrapper">
    <a href="#" class="brand-logo">Craigslist</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{% url 'core:home' %}">Home</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1 class="center-align">Welcome To My Craigslist!!</h1>
  <h2 class="center-align">Search???..</h2>
  <div class="row">
    <div class="col s4">
      <div class="center">
        <i class="large material-icons">flash_on</i>
        <p>First Craigslist Web Scraper</p>
        <p class="purple-text text-light center">
          Scraper Right Away Here With Beautiful User Interface
        </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <i class="large material-icons">camera</i>
        <p>Filter Your Searches</p>
        <p class="purple-text text-light center">
          We Build Functionality To Filter Based On Pricing
        </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <i class="large material-icons">chrome_reader_mode</i>
        <p>Sexy Front-End To Craigslist</p>
        <p class="purple-text text-light center">We Build With Love</p>
      </div>
    </div>
  </div>
</div>
