<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>404</title>
    <link rel="icon" href="/img/weather.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>

    {{>footer}}

</body>
</html>