<!DOCTYPE html>
    <head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">

    </head>

    <body>
        <div class="main-content">
        {{!-- <h1>{{title}}</h1> --}}
        {{>header}}
        <p>This site was created by Malindu Sasanga. It uses data from mapbox.com and weatherstack.com!</p>
        <img class="portrait" src="/img/me.jpg" alt="" >
        {{!-- <p>Created by {{name}}</p> --}}

        </div>


        {{>footer}}
    </body>
</html>