<!DOCTYPE html>
    <head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">

    </head>

    <body>
        <div class="main-content">
        {{>header}}

        {{!-- <h1>Help</h1> --}}
        <h3>{{title}}</h3>
        <p>{{name}}</p>

        </div>


        {{>footer}}

    </body>
</html>