{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Craigslist:{% block title %} {% endblock title %}</title>
  </head>
  <link rel="icon" href="{% static 'img/title.ico' %}" />
  <!-- custom css -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!--Import Google Icon Font-->
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <!--Import materialize.css-->
  <link
    type="text/css"
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    media="screen,projection"
  />

  <body>
    {% block content %} {% endblock content %}
  </body>
  <!--JavaScript at end of body for optimized loading-->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
  ></script>
  <!-- custom js -->
  <script src="{% static 'js/main.js' %}"></script>
</html>
